* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0px !important;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0px !important;
}

a {
  text-decoration: none;
  color: black;
}

.mouseOverHeight {
  height: 100px;
}

.sideDrop {
  background-color: white;
  width: 200px;
  transform: translateX(30px);
}

.transformLeft {
  transform: translateX(-320px);
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.active {
  color: #000 !important;
}

.active-register {
  transform: translateX(-500px);
  transform: translateY(-345px);
  transition: all 1s;
}

.deactive-register {
  visibility: hidden;
  transition: all 1s;
}

.deactive-login {
  transform: translateX(-500px);
  visibility: hidden;
  transition: transform 1.3s;
}

@media only screen and (min-width: 768px) {
  header .nav-top {
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 15px;
  }
  header .nav-top .nav-top_social {
    margin-right: 30px;
    cursor: pointer;
  }
  header .nav-top .nav-top_social i {
    font-size: 15px;
  }
  header .nav-top .nav-top_social p {
    margin-left: 10px;
  }
  header .nav-top .nav-top_message p a {
    color: red;
  }
  header .nav-top .nav-top_social--dropDown {
    width: 230px;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 53px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 30px;
    background-color: white;
    z-index: 2;
  }
  header .nav-top .nav-top_social--dropDown li {
    font-size: 15px;
  }
  header .nav-top .nav-top_social--dropDown li i {
    margin-right: 10px;
  }
  header .nav-top .nav-top_social--dropDown p {
    padding: 20px 0;
    margin-left: 0px !important;
  }
  header .nav-top .col-3 {
    padding: 0;
  }
  header .nav-top .col-3 a {
    color: black;
  }
  header .nav-top .col-3 .dropDownLang {
    width: 120px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 50px;
    right: 150px;
    z-index: 2;
  }
  header .nav-top .col-3 .dropDownLang ul li {
    padding: 10px;
  }
  header .nav-top .col-3 .dropDownCurr {
    width: 120px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 2;
  }
  header .nav-top .col-3 .dropDownCurr ul li {
    padding: 10px;
  }
  header .nav-bottom {
    border-bottom: 1px solid rgb(214, 214, 214);
  }
  header .nav-bottom .sideBar-logo .fa-bars {
    font-size: 30px;
    cursor: pointer;
  }
  header .nav-bottom .nav-logo {
    width: 15%;
    margin-left: 20px;
    margin-right: 40px;
  }
  header .nav-bottom .nav-logo img {
    width: 100%;
  }
  header .nav-bottom .nav-bottom_menu ul li {
    position: relative;
    margin-right: 30px;
  }
  header .nav-bottom .nav-bottom_menu ul li a {
    font-size: 15px;
    font-weight: 500;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--home {
    width: 220px;
    background-color: red;
    position: absolute;
    top: 98px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    z-index: 2;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--home ul {
    margin-left: 20px;
    line-height: 40px;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--shop {
    width: 1320px;
    top: 100px;
    margin-left: -330px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    z-index: 2;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--shop a {
    font-size: 15px;
    line-height: 40px;
  }
  header .nav-bottom .nav-bottom_right .right-icons i {
    font-size: 23px;
    margin-left: 20px;
  }
  header .nav-bottom .nav-bottom_right .right-basket {
    margin-left: 10px;
  }
  header .nav-bottom .nav-bottom_right .right-basket i {
    font-size: 23px;
  }
  header .nav-bottom .nav-bottom_right .wishList-count {
    background-color: red;
    position: absolute;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    padding: 2px;
    right: -7px;
    top: -10px;
  }
  header .nav-search {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
  }
  header .nav-search div {
    padding: 20px 0;
  }
  header .nav-search div p {
    padding-bottom: 20px;
  }
  header .nav-search div input {
    width: 100%;
    outline: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    transition: all 0.2s;
  }
  header .nav-search div input:focus {
    border-bottom: 2px solid black;
  }
  header .nav-search div span {
    display: inline-flex;
    margin-top: 10px;
  }
  header .nav-bottom_sideBar {
    overflow-y: scroll;
    height: 100vh;
    width: 320px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding-top: 20px;
    transition: all 0.8s;
  }
  header .nav-bottom_sideBar .sideBar-logo {
    padding: 0 20px;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBarImg {
    width: 35%;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBarImg img {
    width: 100%;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBar-close {
    background-color: gray;
    color: black;
    padding: 5px 7px;
    margin-right: 10px;
    cursor: pointer;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBar-close i {
    font-size: 15px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu {
    padding: 20px 20px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu span {
    font-weight: 700;
    padding-bottom: 20px;
    display: inline-block;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li {
    position: relative;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li a {
    line-height: 50px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li i {
    cursor: pointer;
  }
  header .nav-bottom_sideBar .sideBarMainMenu .sideBar-offer span {
    background-color: green;
    border-radius: 20px;
    font-size: 12px;
    padding: 3px;
    color: white;
  }
  header .nav-bottom_sideBar .sideBarMainMenu .copyright {
    padding: 40px 0;
  }
  header .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  #account .acc-container {
    max-width: 520px;
    height: 650px;
    padding: 60px;
    margin: 70px auto;
    border: 1px solid red;
  }
  #account .acc-container .acc-options {
    width: 60%;
    margin: 0 auto;
  }
  #account .acc-container .acc-options a {
    font-size: 1.065rem;
    font-weight: 600;
    color: gray;
  }
  #account .acc-container .acc-options a:nth-child(2) {
    padding-left: 20px;
  }
  #account .acc-container .acc-options a:nth-child(1) {
    padding-left: 50px;
  }
  #account .acc-container .acc-form--all .acc-form form input[type=text] {
    width: 100%;
    padding: 5px;
    outline-color: #000;
    border: 1px solid rgb(214, 214, 214);
  }
  #account .acc-container .acc-form--all .acc-form form input[type=checkbox] {
    margin: 20px 0;
  }
  #account .acc-container .acc-form--all .acc-form form button {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #ee403d;
    outline: none;
    border: none;
    margin-top: 20px;
  }
  #account .acc-container .acc-form--all .acc-form form a {
    color: red;
    margin-top: 20px;
    transition: all 0.3s;
  }
  #account .acc-container .acc-form--all .acc-form form a:hover {
    color: blue;
  }
  #account .acc-container .acc-form--all .acc-form form p {
    margin: 20px 0;
    text-align: justify;
  }
  footer .topFooter {
    background-color: black;
    padding: 80px;
  }
  footer .topFooter .topFooter-text h3 {
    font-weight: 500;
    color: white;
    max-width: 400px;
  }
  footer .topFooter .topFooter-text p {
    color: rgb(214, 214, 214);
    padding-bottom: 40px;
  }
  footer .topFooter .topFooter-left-form form input {
    width: 60%;
    height: 35px;
    padding: 20px 10px;
    outline: none;
  }
  footer .topFooter .topFooter-left-form form button {
    padding: 9px 18px;
    outline: none;
    border: 1 px solid rgb(214, 214, 214);
    margin-left: -5px;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }
  footer .topFooter .topFooterSpan {
    color: gray;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;
  }
  footer .middleFooter {
    padding: 30px;
  }
  footer .middleFooter .middleFooter-logo {
    width: 40%;
  }
  footer .middleFooter .middleFooter-logo img {
    width: 100%;
  }
  footer .middleFooter p {
    max-width: 300px;
    text-align: justify;
    padding-top: 20px;
  }
  footer .middleFooter h6 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  footer .middleFooter a {
    display: block;
    margin-bottom: 10px;
  }
  footer .bottomFooter {
    padding: 30px;
  }
  footer .bottomFooter p {
    font-size: 14px;
  }
  footer .bottomFooter .footer-end {
    text-align: end;
  }
  footer .bottomFooter .footer-end a {
    font-size: 14px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  header .nav-top {
    display: none;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 15px;
  }
  header .nav-top .nav-top_social {
    margin-right: 30px;
    cursor: pointer;
  }
  header .nav-top .nav-top_social i {
    font-size: 15px;
  }
  header .nav-top .nav-top_social p {
    margin-left: 10px;
  }
  header .nav-top .nav-top_message p a {
    color: red;
  }
  header .nav-top .nav-top_social--dropDown {
    width: 230px;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 53px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 30px;
    background-color: white;
    z-index: 2;
  }
  header .nav-top .nav-top_social--dropDown li {
    font-size: 15px;
  }
  header .nav-top .nav-top_social--dropDown li i {
    margin-right: 10px;
  }
  header .nav-top .nav-top_social--dropDown p {
    padding: 20px 0;
    margin-left: 0px !important;
  }
  header .nav-top .col-3 {
    padding: 0;
  }
  header .nav-top .col-3 a {
    color: black;
  }
  header .nav-top .col-3 .dropDownLang {
    width: 120px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 50px;
    right: 150px;
    z-index: 2;
  }
  header .nav-top .col-3 .dropDownLang ul li {
    padding: 10px;
  }
  header .nav-top .col-3 .dropDownCurr {
    width: 120px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 2;
  }
  header .nav-top .col-3 .dropDownCurr ul li {
    padding: 10px;
  }
  header .nav-bottom {
    border-bottom: 1px solid rgb(214, 214, 214);
  }
  header .nav-bottom .sideBar-logo .fa-bars {
    font-size: 30px;
    cursor: pointer;
  }
  header .nav-bottom .nav-logo {
    width: 15%;
    margin-left: 20px;
    margin-right: 40px;
  }
  header .nav-bottom .nav-logo img {
    width: 100%;
  }
  header .nav-bottom .nav-bottom_menu {
    display: none;
  }
  header .nav-bottom .nav-bottom_menu ul li {
    position: relative;
    margin-right: 30px;
  }
  header .nav-bottom .nav-bottom_menu ul li a {
    font-size: 15px;
    font-weight: 500;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--home {
    width: 220px;
    background-color: red;
    position: absolute;
    top: 98px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    z-index: 2;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--home ul {
    margin-left: 20px;
    line-height: 40px;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--shop {
    width: 1320px;
    top: 100px;
    margin-left: -330px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    z-index: 2;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--shop a {
    font-size: 15px;
    line-height: 40px;
  }
  header .nav-bottom .nav-bottom_right .right-icons {
    display: none;
  }
  header .nav-bottom .nav-bottom_right .right-icons i {
    font-size: 23px;
    margin-left: 20px;
  }
  header .nav-bottom .nav-bottom_right .right-basket {
    margin-left: 10px;
  }
  header .nav-bottom .nav-bottom_right .right-basket i {
    font-size: 23px;
  }
  header .nav-bottom .nav-bottom_right .wishList-count {
    background-color: red;
    position: absolute;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    padding: 2px;
    right: -7px;
    top: -10px;
  }
  header .nav-search {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
  }
  header .nav-search div {
    padding: 20px 0;
  }
  header .nav-search div p {
    padding-bottom: 20px;
  }
  header .nav-search div input {
    width: 100%;
    outline: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    transition: all 0.2s;
  }
  header .nav-search div input:focus {
    border-bottom: 2px solid black;
  }
  header .nav-search div span {
    display: inline-flex;
    margin-top: 10px;
  }
  header .nav-bottom_sideBar {
    overflow-y: scroll;
    height: 100vh;
    width: 320px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding-top: 20px;
    transition: all 0.8s;
  }
  header .nav-bottom_sideBar .sideBar-logo {
    padding: 0 20px;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBarImg {
    width: 35%;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBarImg img {
    width: 100%;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBar-close {
    background-color: gray;
    color: black;
    padding: 5px 7px;
    margin-right: 10px;
    cursor: pointer;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBar-close i {
    font-size: 15px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu {
    padding: 20px 20px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu span {
    font-weight: 700;
    padding-bottom: 20px;
    display: inline-block;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li {
    position: relative;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li a {
    line-height: 50px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li i {
    cursor: pointer;
  }
  header .nav-bottom_sideBar .sideBarMainMenu .sideBar-offer span {
    background-color: green;
    border-radius: 20px;
    font-size: 12px;
    padding: 3px;
    color: white;
  }
  header .nav-bottom_sideBar .sideBarMainMenu .copyright {
    padding: 40px 0;
  }
  header .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  footer .topFooter {
    background-color: black;
    padding: 80px;
  }
  footer .topFooter .topFooter-text {
    margin-top: 60px;
  }
  footer .topFooter .topFooter-text h3 {
    font-weight: 500;
    color: white;
    max-width: 400px;
  }
  footer .topFooter .topFooter-text p {
    color: rgb(214, 214, 214);
    padding-bottom: 40px;
  }
  footer .topFooter .topFooter-left-form form input {
    width: 60%;
    height: 35px;
    padding: 20px 10px;
    outline: none;
  }
  footer .topFooter .topFooter-left-form form button {
    padding: 9px 18px;
    outline: none;
    border: 1 px solid rgb(214, 214, 214);
    margin-left: -5px;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }
  footer .topFooter .topFooterSpan {
    color: gray;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;
  }
  footer .middleFooter {
    padding: 30px;
  }
  footer .middleFooter .middleFooter-logo {
    width: 40%;
  }
  footer .middleFooter .middleFooter-logo img {
    width: 100%;
  }
  footer .middleFooter p {
    max-width: 300px;
    text-align: justify;
    padding-top: 20px;
  }
  footer .middleFooter h6 {
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
  }
  footer .middleFooter a {
    display: block;
    margin-bottom: 10px;
  }
  footer .bottomFooter {
    padding: 30px;
  }
  footer .bottomFooter p {
    font-size: 14px;
  }
  footer .bottomFooter .footer-end {
    margin-top: 20px;
    text-align: center;
  }
  footer .bottomFooter .footer-end a {
    font-size: 14px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 576px) {
  header .nav-top {
    display: none;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 15px;
  }
  header .nav-top .nav-top_social {
    margin-right: 30px;
    cursor: pointer;
  }
  header .nav-top .nav-top_social i {
    font-size: 15px;
  }
  header .nav-top .nav-top_social p {
    margin-left: 10px;
  }
  header .nav-top .nav-top_message p a {
    color: red;
  }
  header .nav-top .nav-top_social--dropDown {
    width: 230px;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 53px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 30px;
    background-color: white;
    z-index: 2;
  }
  header .nav-top .nav-top_social--dropDown li {
    font-size: 15px;
  }
  header .nav-top .nav-top_social--dropDown li i {
    margin-right: 10px;
  }
  header .nav-top .nav-top_social--dropDown p {
    padding: 20px 0;
    margin-left: 0px !important;
  }
  header .nav-top .col-3 {
    padding: 0;
  }
  header .nav-top .col-3 a {
    color: black;
  }
  header .nav-top .col-3 .dropDownLang {
    width: 120px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 50px;
    right: 150px;
    z-index: 2;
  }
  header .nav-top .col-3 .dropDownLang ul li {
    padding: 10px;
  }
  header .nav-top .col-3 .dropDownCurr {
    width: 120px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 2;
  }
  header .nav-top .col-3 .dropDownCurr ul li {
    padding: 10px;
  }
  header .nav-bottom {
    border-bottom: 1px solid rgb(214, 214, 214);
  }
  header .nav-bottom .sideBar-logo .fa-bars {
    font-size: 30px;
    cursor: pointer;
  }
  header .nav-bottom .nav-logo {
    width: 15%;
    margin-left: 20px;
    margin-right: 40px;
  }
  header .nav-bottom .nav-logo img {
    width: 100%;
  }
  header .nav-bottom .nav-bottom_menu {
    display: none;
  }
  header .nav-bottom .nav-bottom_menu ul li {
    position: relative;
    margin-right: 30px;
  }
  header .nav-bottom .nav-bottom_menu ul li a {
    font-size: 15px;
    font-weight: 500;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--home {
    width: 220px;
    background-color: red;
    position: absolute;
    top: 98px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    z-index: 2;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--home ul {
    margin-left: 20px;
    line-height: 40px;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--shop {
    width: 1320px;
    top: 100px;
    margin-left: -330px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    z-index: 2;
  }
  header .nav-bottom .nav-bottom_menu ul li .nav-bottom_menu--shop a {
    font-size: 15px;
    line-height: 40px;
  }
  header .nav-bottom .nav-bottom_right .right-icons {
    display: none;
  }
  header .nav-bottom .nav-bottom_right .right-icons i {
    font-size: 23px;
    margin-left: 20px;
  }
  header .nav-bottom .nav-bottom_right .right-basket {
    margin-left: 10px;
  }
  header .nav-bottom .nav-bottom_right .right-basket i {
    font-size: 23px;
  }
  header .nav-bottom .nav-bottom_right .wishList-count {
    background-color: red;
    position: absolute;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    padding: 2px;
    right: -7px;
    top: -10px;
  }
  header .nav-search {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
  }
  header .nav-search div {
    padding: 20px 0;
  }
  header .nav-search div p {
    padding-bottom: 20px;
  }
  header .nav-search div input {
    width: 100%;
    outline: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    transition: all 0.2s;
  }
  header .nav-search div input:focus {
    border-bottom: 2px solid black;
  }
  header .nav-search div span {
    display: inline-flex;
    margin-top: 10px;
  }
  header .nav-bottom_sideBar {
    overflow-y: scroll;
    height: 100vh;
    width: 320px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding-top: 20px;
    transition: all 0.8s;
  }
  header .nav-bottom_sideBar .sideBar-logo {
    padding: 0 20px;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBarImg {
    width: 35%;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBarImg img {
    width: 100%;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBar-close {
    background-color: gray;
    color: black;
    padding: 5px 7px;
    margin-right: 10px;
    cursor: pointer;
  }
  header .nav-bottom_sideBar .sideBar-logo .sideBar-close i {
    font-size: 15px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu {
    padding: 20px 20px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu span {
    font-weight: 700;
    padding-bottom: 20px;
    display: inline-block;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li {
    position: relative;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li a {
    line-height: 50px;
  }
  header .nav-bottom_sideBar .sideBarMainMenu ul li i {
    cursor: pointer;
  }
  header .nav-bottom_sideBar .sideBarMainMenu .sideBar-offer span {
    background-color: green;
    border-radius: 20px;
    font-size: 12px;
    padding: 3px;
    color: white;
  }
  header .nav-bottom_sideBar .sideBarMainMenu .copyright {
    padding: 40px 0;
  }
  header .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  footer .topFooter {
    background-color: black;
    padding: 80px;
  }
  footer .topFooter .topFooter-text {
    margin-top: 60px;
  }
  footer .topFooter .topFooter-text h3 {
    font-weight: 500;
    color: white;
    max-width: 400px;
  }
  footer .topFooter .topFooter-text p {
    color: rgb(214, 214, 214);
    padding-bottom: 40px;
  }
  footer .topFooter .topFooter-left-form form input {
    width: 60%;
    height: 35px;
    padding: 20px 10px;
    outline: none;
  }
  footer .topFooter .topFooter-left-form form button {
    padding: 9px 18px;
    outline: none;
    border: 1 px solid rgb(214, 214, 214);
    margin-left: -5px;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }
  footer .topFooter .topFooterSpan {
    color: gray;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;
  }
  footer .middleFooter {
    padding: 30px;
  }
  footer .middleFooter .middleFooter-logo {
    width: 40%;
  }
  footer .middleFooter .middleFooter-logo img {
    width: 100%;
  }
  footer .middleFooter p {
    max-width: 300px;
    text-align: justify;
    padding-top: 20px;
  }
  footer .middleFooter h6 {
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
  }
  footer .middleFooter a {
    display: block;
    margin-bottom: 10px;
  }
  footer .bottomFooter {
    padding: 30px;
  }
  footer .bottomFooter p {
    font-size: 14px;
  }
  footer .bottomFooter .footer-end {
    margin-top: 20px;
    text-align: center;
  }
  footer .bottomFooter .footer-end a {
    font-size: 14px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=login.css.map */